<div class="modal fade" id="popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Message</h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close-button">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-button">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="info-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info-title">Message</h4>
      </div>
      <div class="modal-body" id="info-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="info-button">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Server -->
<div class="modal fade" id="add_server">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="server-title">Add Server</h4>
            </div>
            <div class="modal-body" id="job-body">
                <div class="form-group">
                    <label>Name</label>
                    <input placeholder="server name" type='text' class='form-control' id='server-name'/><br />
                </div>
                <div class="form-group">
                    <label>Hostname</label>
                    <input placeholder="server hostname" type='text' class='form-control' id='server-hostname'/><br />
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input placeholder="server username" type='text' class='form-control' id='server-username'/><br />
                </div>
                <!--<div class="form-group">
                    <label>Distribution</label>
                    <select class='form-control' id='server-distribution'>
                        <option value="null">Select Distribution</option>
                        <option value="ubuntu">Ubuntu</option>
                        <option value="centos">CentOS</option>
                    </select><br />
                </div>-->
                <div id="auth_div" class="form-group">
                    <label>Auth Type</label>
                    <select class='form-control' id='server-auth-type'>
                        <option value="null">Select Auth Type</option>
                        <option value="password">Password</option>
                        <option value="pem">Pem File</option>
                    </select><br />
                </div>

                <div class="form-group" style="display: none;" id="password_div">
                    <label>Password (It will NOT be saved)</label>
                    <input placeholder="server password" type='text' class='form-control' id='server-password'/><br />
                </div>

                <div  style="display: none;" class="form-group" id="pem_div">
                    <label>Pem File</label>
                    <textarea placeholder="server pem" type='text' class='form-control' id='server-pem'></textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="server-save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Add Server -->
<div class="modal fade" id="add_cronjob">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Job</h4>
            </div>
            <div class="modal-body" id="job-body">
                <label>Name</label>
                <input placeholder="job name" type='text' class='form-control' id='cronjob-name'/><br />
                <label>Schedule</label>
                <input placeholder="0 /5 * * *" type='text' class='form-control' id='cronjob-schedule'/><br />
                <label>Command</label>
                <input placeholder="ls -al" type='text' class='form-control' id='cronjob'/><br />
                <label>Commented</label>&nbsp;
                <input type='checkbox' id='cronjob-commented'/><br />


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="cronjob-save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Add Server -->
<div class="modal fade" id="add_deploycronjob">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deploy Job</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Select Server</label>
                    <select class="form-control" id="select-server"></select>
                </div>
                <div class="form-group">
                    <label>Select CronJob</label>
                    <select class="form-control" id="select-cron"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="deploy-save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- Add Server -->
<div class="modal fade" id="add_import">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import Crons</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Select Server</label>
                    <select class="form-control" id="select-import-server"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="import-save">Import</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Add Server -->
<div class="modal fade" id="crontab_string_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crontab</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea style="width: 850px; height: 400px;" id="crontab_string"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal" id="crontab-string-save">Save</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Add Server -->
<div class="modal fade" id="add_slack">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Slack Job</h4>
            </div>
            <div class="modal-body" id="job-body">
                <label>Channel</label>
                <input placeholder="channel name" type='text' class='form-control' id='slack-channel'/><br />
                <label>Token</label>
                <input placeholder="slack token" type='text' class='form-control' id='slack-token'/><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="slack-save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



